{% extends 'base.html.twig' %}

{% block title %}Nouveau personnage{% endblock %}

{% block body %}
    <h1>Créez votre personnage</h1>

    {{ include('character/_form.html.twig') }}

    <a href="{{ path('app_character_index') }}">Retour</a>
{% endblock %}
