{% extends 'base.html.twig' %}

{% block title %}Nouvelle classe{% endblock %}

{% block body %}
    <h1>Créez une nouvelle classe</h1>

    {{ include('character_class/_form.html.twig') }}

    <a href="{{ path('app_character_class_index') }}">Retour</a>
{% endblock %}
