{% extends 'base.html.twig' %}

{% block title %}Liste des compétences{% endblock %}

{% block body %}
    <h1>Compétences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Capacités</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.name }}</td>
                <td>{{ skill.ability }}</td>
                <td>
                    <a href="{{ path('app_skill_show', {'id': skill.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune compétence trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_skill_new') }}">Créer une nouvelle compétence</a>
{% endblock %}
