{% extends 'base.html.twig' %}

{% block title %}Liste des races{% endblock %}

{% block body %}
    <h1>Races</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.name }}</td>
                <td>{{ race.description }}</td>
                <td>
                    <a href="{{ path('app_race_show', {'id': race.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune race trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_race_new') }}">Créer une nouvelle race</a>
{% endblock %}
